<phpunit colors="true">
  <testsuites>
    <testsuite name="All">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="coverage"/>
  </logging>
</phpunit>
